@font-face {
  font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2");
    src: url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
    src: url("../fonts/extrabold.woff2") format("woff2");
    src: url("../fonts/extrabold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2");
    src: url("../fonts/opensans.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format("woff2");
    src: url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Open Sans", "Arial",sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}


.total-title {
  font-family: "Gilroy" ,sans-serif;
  font-size: 47px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.17px;
  color: #000000;
}

.item-title {
  font-family: "Gilroy" ,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 12px;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: 0.7;
}

a:active {
  opacity: 0.4;
}

a.logo {
  font-family: "Gilroy" ,sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: -12px
}

.container {
  width: 85%;
  max-width: 1160px;
  margin: auto;
}

.index-header {
  background-color: #f7e296;
  margin-top: 40px;
  max-width: 1040px;
  position: relative;
  padding:0 60px;
}

.slide-number {
  /*color: #ffffff;*/
  color: #000000;
  font-family: "Gilroy" ,sans-serif;
  font-size: 179px;
  font-weight: 700;
  line-height: 179px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

form.site-search button, input {
  background: none;
  border: none;
}

form.site-search button {
  padding:13px 17px;
  border: 2px solid #000000;
  margin-left: 150px;
  font-weight: 300;
}

form.site-search button:hover {
  background-color: #000000;
  color: #ffffff;
}

form.site-search button:active {
  color: #696969;
}

form.site-search input {
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans", "Arial",sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding-left: 30px;
}

form.site-search {
  position: relative;
  margin-top: 15px;
}

form.site-search::before {
  content: '';
  background-image: url(../img/search.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 15px;

}

form.site-search::after {
  content: '';
  position: absolute;
  width: 340px;
  height: 2px;
  background: #000000;
  top: 45px;
  left: 0;

}

.global-btn {
  color: #000000;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.header-flex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 20px;
}

.user-block {
  display: flex;
  justify-content:space-between;
  min-width: 500px;
  font-weight: 300;
}

.user-block .compare {
  margin-left: auto;
  padding-right: 66px;
}

.user-block .enter,
.user-block .compare,
.user-block .cart {
  position: relative;
}

.user-block .enter::before {
  content: '';
  position: absolute;
  background-image: url(../img/user.svg);
  width: 13px;
  height: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 50px
}

.user-block .compare::before {
  content: '';
  position: absolute;
  background-image: url(../img/compare.svg);
  width: 10px;
  height:10px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 142px;
}

.user-block .cart::before {
  content: '';
  position: absolute;
  background-image: url(../img/cart.svg);
  width: 12px;
  height: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 66px;
}

.main-nav-ls .main-nav-ls-title,
.header-info {
  font-family: "Gilroy" ,sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 3.6px;
}

.main-nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.main-nav .header-info {
  display: flex;
  justify-content: space-between;
  width: 520px;
  height: 0;
}

.main-nav .header-info a:last-child {
  margin:0 -4px 0 50px;
}

.main-nav-ls .main-nav-ls-title::after {
  content: '';
  background-image: url(../img/plus.svg);
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  right: -25px;
  margin: auto;
}

.drop-down-ls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 520px;
  margin: 30px 0;
}

.drop-down-ls li {
  padding: 10px 0;
}

.drop-down-ls li:last-child {
  flex-basis: 280px;
}

.drop-down-ls li:nth-child(5) {
  margin: 0 auto 0 75px;
}

.slide-one, .slide-two, .slide-three {
  display: flex;
}

.product-category {
  display: flex;
}

.contact-inform {
  display: flex;
}

.slider-services-backroung {
  background-color: #e5e5e5;
}

.footer {
  background-color: #464646;
  position: relative;
  padding:50px 0;
}

.footer a {
  color: #ffffff;
}


a.footer-logo {
  font-family: "Gilroy" ,sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffc600;
}

.footer-user-block {
  display: flex;
  max-width: 1139px;
}

.footer-user-block .footer-logo {
  margin-right: auto;
}

.footer-user-block .enter,
.compare, .cart {
  padding-left: 60px;
}

.footer .footer-info {
  display: flex;
  justify-content: center;
  padding:40px 0;
}

.footer-info address {
  font-style: normal;
  margin-right: auto;
  color: #ffffff;
  font-weight: 300;
}

.footer-info .phone {
  margin-left: auto;
  font-weight: 300;
}

.footer-info a:nth-child(2) {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}
.footer-info a:nth-child(3) {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  padding: 0 30px;
}
.footer-info a:nth-child(4) {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer .social {
  display: flex;
  justify-content: center;
}

.footer .social a:nth-child(2) {
  padding: 0 20px;
}

.footer .social a {
  opacity: 0.3;
}

.footer .social a:hover {
  opacity: 0.6;
}

.footer .social a:active {
  opacity: 0.1;
}

.products-catalog {
  padding-left: 120px;
}

.products-catalog .total-title {

}

.products-catalog .bread-crumds li {
  display: inline-block;
  padding-right: 40px;
  font-size: 14px;
  letter-spacing: 0.14px;
  font-weight: 300;

}

.main-filter {
    /*background: #ebebeb;*/
    /*background: linear-gradient(to right,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);*/
}

.main-filter .filter-title {
  display: flex;
  align-items: center;
  padding-left: 120px;
  justify-content: space-between;
}

.filter-title ul {
  display: flex;
}

.main-filter .left-filter {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 51px;
}

.left-filter fieldset {
  border: none;
}

.main-flex {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: auto;
}


.products-ls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.forward-backward-btn {
  flex-basis: 100%;
}

.forward-backward-btn .catalog-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 50px 0;
  background: #ebebeb;
}

.catalog-nav li:first-child {
  margin-right: auto;
}

.catalog-nav li:last-child {
  margin-left: auto;
}
