@font-face {
  font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2");
    src: url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
    src: url("../fonts/extrabold.woff2") format("woff2");
    src: url("../fonts/extrabold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2");
    src: url("../fonts/opensans.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format("woff2");
    src: url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Open Sans", "Arial",sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}


.total-title {
  font-family: "Gilroy" ,sans-serif;
  font-size: 47px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.17px;
  color: #000000;
}

.item-title {
  font-family: "Gilroy" ,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 12px;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: 0.7;
  cursor: pointer;
}

a:active {
  opacity: 0.4;
}

a.logo {
  font-family: "Gilroy" ,sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: -12px
}

.index-header a.logo:hover {
  opacity: 1;
}

.container {
  width: 85%;
  max-width: 1160px;
  margin: auto;
}

.index-header {
  background-color: #f7e296;
  margin-top: 40px;
  max-width: 1040px;
  min-height: 330px;
  position: relative;
  padding:0 60px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

form.site-search button, input {
  background: none;
  border: none;
}

form.site-search button {
  padding:13px 17px;
  border: 2px solid #000000;
  font-weight: 300;
  margin-left: -5px;
  visibility: hidden;
}

form.site-search button:hover {
  background-color: #000000;
  color: #ffffff;
}

form.site-search button:active {
  color: #696969;
}

form.site-search input {
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans", "Arial",sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding-left: 30px;
  width: 310px;
}

form.site-search input:focus {
    border-bottom:2px solid #000;
    padding-bottom: 13px;
    outline:none;
    opacity:1;
}

form.site-search input:focus ~ button {
    visibility: visible;
}

form.site-search button:active {
    visibility: visible;
}


form.site-search {
  position: relative;
  margin-top: 15px;
}

form.site-search::before {
  content: '';
  background: url(../img/search.svg) no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 15px;

}

.global-btn {
  color: #000000;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  display: inline-block;
  position: relative;
}

.header-flex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 20px;
}

.user-block {
  display: flex;
  justify-content:space-between;
  min-width: 500px;
  font-weight: 300;
}

.user-block .compare {
  margin-left: auto;
  padding-right: 66px;
}

.user-block .enter,
.user-block .compare,
.user-block .cart {
  position: relative;
}

.user-block .enter::before {
  content: '';
  position: absolute;
  background: url(../img/user.svg) no-repeat;
  width: 13px;
  height: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 50px
}

.user-block .compare::before {
  content: '';
  position: absolute;
  background: url(../img/compare.svg) no-repeat;
  width: 10px;
  height:10px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 142px;
}

.user-block .cart::before {
  content: '';
  position: absolute;
  background: url(../img/cart.svg) no-repeat;
  width: 12px;
  height: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 66px;
}

.main-nav-ls .main-nav-ls-title,
.header-info {
  font-family: "Gilroy" ,sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 3.6px;
}

.main-nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-nav .header-info {
  display: flex;
  justify-content: space-between;
  width: 520px;
  height: 0;
}

.main-nav .header-info a:last-child {
  margin:0 -4px 0 50px;
}

.main-nav-ls .main-nav-ls-title::after {
  content: '';
  background-image: url(../img/plus.svg);
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  right: -25px;
  margin: auto;
}

.drop-down-ls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 520px;
  margin: 25px 0;
  position: relative;
}

.drop-down-ls::before {
  content: '';
  position: absolute;
  width: 900px;
  background-color: #f7e296;
  min-height: 100px;
  z-index: -1;
}

.drop-down-ls li {
  padding: 10px 0;
}

.drop-down-ls li:last-child {
  flex-basis: 280px;
}

.drop-down-ls li:nth-child(5) {
  margin: 0 auto 0 75px;
}

.drop-down-ls {
  display: none;
}

.main-nav-ls:hover .drop-down-ls {
  display: flex;
  z-index: 10;
  background-color: #f7e296;
  cursor: pointer;

}

.main-nav-ls .main-nav-ls-title:hover {
  cursor: pointer;
}


.top-slider {
  position: relative;
  width: 300%;
  max-width: 1020px;
  margin: auto;
  display: flex;
  overflow: hidden;
}


.slide-one, 
.slide-two, 
.slide-three {
  display: flex;
  position: relative;
  /*top: -135px;*/
  z-index: 1;
  width: 1020px;
}

.slide-one img, 
.slide-two img, 
.slide-three img {
  margin-right: 125px;
}

.top-slider .descrip-slider p {
  color: #464646;
  font-weight: 300;
  line-height: 30px;
  min-width: 550px;
}

.top-slider-switches label {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
  margin: 33px 20px;
  cursor: pointer;
  border: 4px solid white;
  background-color: #cccccc;
}

.top-slider-switches {
  position: absolute;
  right: 80px;
  top: 300px;
  display: flex;
  z-index: 10;
  cursor: pointer;
  right: 0;
}

.top-slider [type="radio"] {
  display: none;
}

#slide-switch-1:checked ~ .top-slider-switches label[for="slide-switch-1"],
#slide-switch-1:checked ~ .top-slider-switches label[for="slide-switch-2"],
#slide-switch-1:checked ~ .top-slider-switches label[for="slide-switch-3"] {
  background-color: #666666;
}

#slide-switch-1:checked ~ #slide-1 {
    transform: translate(0);
}

#slide-switch-2:checked ~ #slide-2, #slide-1 {
    transform: translate(-1020px);
}

#slide-switch-3:checked ~ #slide-3, #slide-2 {
    transform: translate(-2060px);
}

.top-slider .slide-features {
  display: flex;
}

.slide-features span:first-child {
  color: #000000;
  font-family: Gilroy;
  font-size: 36px;
  font-weight: 300;
  padding-bottom: 25px;
}

.slide-features span:last-child {
  color: #464646;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.slide-features li {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
}


.top-slider .global-btn {
  width: 220px;
  position: relative;
  text-align: center;
  margin: 70px 0;
  opacity: 1;
}

.top-slider .global-btn:active {
  opacity: 0.3;
}

.top-slider .global-btn::before { 
  content:"";
  position: absolute;
  background-color: #f0c52e;
  width: 220px;
  height: 5px;
  z-index: -1;
  top:8px;
  left: 0;
  transition: .2s;
}

.global-btn:hover::before {
  height: 40px;
  top:-8px;
}

.slide-number {
  /*color: #ffffff;*/
  color: #000000;
  font-family: "Gilroy" ,sans-serif;
  font-size: 179px;
  font-weight: 700;
  line-height: 179px;
  position: absolute;
  right: 0;
}

.brands-logos {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.brands-logos a::after {
    position: relative;
    width: 260px;
    height: 100px;
    background: url(../img/logo-1.png) no-repeat;
    opacity: 1;
}

.brands-logos a:nth-child(2) {
    position: relative;
    width: 260px;
    height: 100px;    
    background: url(../img/logo-3.png) no-repeat;
}

.brands-logos a:nth-child(3) {
    position: relative;
    width: 260px;
    height: 100px;
    background: url(../img/logo-4.png) no-repeat;
}

.brands-logos a:nth-child(4) {
    position: relative;
    width: 260px;
    height: 100px;
    background: url(../img/logo-5.png) no-repeat;
}


.product-category {
  display: flex;
  justify-content: space-between;
}

.product-category .product-type {
  flex-basis: 160px;
}

.product-type .img-box {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
}

.product-type .monopod img {
  align-self: flex-end;
}

.product-category .product-type:hover {
  opacity: 1;
}

.product-category .img-box:hover {
  background-color: #f0c52e;
  opacity: 1;
}

.img-box img:active {
  opacity: 0.3;
}

.product-type h3 {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.18px;
}

.contact-inform {
  display: flex;
  min-height: 560px;
  justify-content: space-between;
}

.contact-inform .about-us,
.contacts-map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 460px;
}

.contact-inform .about-us p {
    margin-top: -8px;
}

.slider-services-backroung {
  background-color: #e5e5e5;
}

.footer {
  background-color: #464646;
  position: relative;
  padding:50px 0;
}

.footer a {
  color: #ffffff;
}


a.footer-logo {
  font-family: "Gilroy" ,sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffc600;
}

.footer-user-block {
  display: flex;
  position: relative;
}

.footer-user-block .footer-logo {
  margin-right: auto;
}

.footer-user-block .footer-logo:hover {
    opacity: 1;
}

.footer-user-block .enter::before {
  content: '';
  position: absolute;
  background: url(../img/user-f.svg) no-repeat;
  width: 13px;
  height: 12px;
  top: 0;
  bottom:0;
  margin: auto;
  left: 40px;
}
.footer-user-block .compare::before {
  content: '';
  position: absolute;
  background: url(../img/compare-f.svg) no-repeat;
  width: 13px;
  height: 12px;
  top: 0;
  bottom:0;
  margin: auto;
  left: 40px;
}
.footer-user-block .cart::before {
  content: '';
  position: absolute;
  background: url(../img/cart-f.svg) no-repeat;
  width: 13px;
  height: 12px;
  top: 0;
  bottom:0;
  margin: auto;
  left: 40px;
}

.footer-user-block .enter,
.compare, .cart {
  padding-left: 60px;
  position: relative;
}

.footer .footer-info {
  display: flex;
  justify-content: center;
  padding:40px 0;
}

.footer-info address {
  font-style: normal;
  margin-right: auto;
  color: #ffffff;
  font-weight: 300;
}

.footer-info address::after {
    content: '';
    width: 80px;
    height: 7px;
    background-color: #ffc600;
    position: absolute;
    bottom: 70px;
}

.footer-info .phone {
  margin-left: auto;
  font-weight: 300;
}

.footer-info a:nth-child(2) {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}
.footer-info a:nth-child(3) {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  padding: 0 30px;
}
.footer-info a:nth-child(4) {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer .social {
  display: flex;
  justify-content: center;
}

.footer .social a:nth-child(2) {
  padding: 0 20px;
}

.footer .social a {
  opacity: 0.3;
}

.footer .social a:hover {
  opacity: 0.6;
}

.footer .social a:active {
  opacity: 0.1;
}

.footer .social a:first-child {
  margin-left: auto;
}

.footer .social a:last-child {
  margin-left: auto;
  padding-left: -22px;
  opacity: 1;
}

.products-catalog {
  padding-left: 120px;
}

.footer .social a:last-child:hover {
    opacity: 0.6;
}

.footer .social a:last-child:active {
    opacity: 0.3;
}

/*.products-catalog .total-title {

}*/

.products-catalog .bread-crumds li {
  display: inline-block;
  padding-right: 40px;
  font-size: 14px;
  letter-spacing: 0.14px;
  font-weight: 300;

}

.main-filter {
    /*background: #ebebeb;*/
    /*background: linear-gradient(to right,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);*/
}

.main-filter .filter-title {
  display: flex;
  align-items: center;
  padding-left: 120px;
  justify-content: space-between;
}

.filter-title ul {
  display: flex;
}

.main-filter .left-filter {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 51px;
}

.left-filter fieldset {
  border: none;
}

.main-flex {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: auto;
}


.products-ls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.forward-backward-btn {
  flex-basis: 100%;
}

.forward-backward-btn .catalog-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 50px 0;
  background: #ebebeb;
}

.catalog-nav li:first-child {
  margin-right: auto;
}

.catalog-nav li:last-child {
  margin-left: auto;
}
