@font-face {
    font-family: 'Gilroy';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/gilroylight.woff2') format('woff2');
    src: url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
    src: url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/opensans.woff2') format('woff2');
    src: url('../fonts/opensans.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/opensanslight.woff2') format('woff2');
    src: url('../fonts/opensanslight.woff') format('woff');
}

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

    color: #000;
}

.total-title {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 60px;

    letter-spacing: .17px;

    color: #000;
}

.item-title {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    color: #000;
}

.container {
    width: 1160px;
    margin: auto;
}

.global-btn {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;

    position: relative;

    display: inline-block;

    vertical-align: middle;
    letter-spacing: 3.6px;
    text-transform: uppercase;

    color: #000;
}

a {
    text-decoration: none;

    color: #000;
}

a:hover {
    cursor: pointer;

    opacity: .7;
}

a:active {
    opacity: .4;
}

.logo {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 48px;
    font-weight: 700;

    position: absolute;
    top: -12px;

    text-transform: uppercase;
}

.index-header {
    position: relative;

    box-sizing: border-box;
    width: 1160px;
    min-height: 299px;
    margin-top: 40px;
    padding: 0 60px;

    background-color: #f7e296;
}

.index-header .logo:hover {
    opacity: 1;
}

.site-search {
    position: relative;

    margin-top: 15px;
}

.site-search::before {
    position: absolute;
    top: 15px;
    left: 3px;

    width: 16px;
    height: 16px;

    content: '';

    background: url(../img/search.svg) no-repeat;
}

.site-search button,
.site-search input {
    border: none;
    background: none;
}

.site-search input {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;

    width: 310px;
    padding-left: 39px;

    opacity: .3;
    color: #000;
}

.site-search input:hover {
    cursor: pointer;

    opacity: .6;
}

.site-search input:focus {
    padding-bottom: 13px;

    opacity: 1;
    border-bottom: 2px solid #000;
    outline: none;
}

.site-search button {
    font-weight: 300;

    display: inline-block;
    visibility: hidden;

    margin-left: -5px;
    padding: 12.5px 17px;

    cursor: pointer;

    border: 2px solid #000;
}

.site-search button:hover {
    color: #fff;
    background-color: #000;
}

.site-search button:active {
    visibility: visible;

    color: #696969;
}

.site-search input:focus ~ button {
    visibility: visible;
}

.header-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 20px;

    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.user-block .enter,
.user-block .compare,
.user-block .cart,
.catalog-user-block .user-name {
    position: relative;
}

.user-block {
    font-weight: 300;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 474px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.user-block .user-name {
    padding-right: 15px;
}

.user-block .user-name::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -190px;

    width: 13px;
    height: 12px;
    margin: auto;

    content: '';

    background: url(../img/user.svg) no-repeat;
}

.user-block .enter::before {
    position: absolute;
    top: 3px;
    right: 55px;
    bottom: 0;

    width: 13px;
    height: 12px;
    margin: auto;

    content: '';

    background: url(../img/user.svg) no-repeat;
}

.user-block .out {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;

    opacity: .3;
    color: #000;
}

.user-block .out::before {
    display: none;
}

.user-block .compare {
    margin-left: auto;
    padding-right: 5px;
}

.user-block .compare::before {
    position: absolute;
    top: 3px;
    right: 83px;
    bottom: 0;

    width: 10px;
    height: 10px;
    margin: auto;

    content: '';

    background: url(../img/compare.svg) no-repeat;
}

.user-block .cart::before {
    position: absolute;
    right: 71px;
    bottom: 4px;

    width: 12px;
    height: 12px;
    margin: auto;

    content: '';

    background: url(../img/cart.svg) no-repeat;
}

.main-nav-ls .main-nav-ls-title,
.header-info {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;

    position: relative;

    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.main-nav {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 23px;

    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-nav ul {
    font-weight: 300;

    margin: 0;
    padding: 10px 0;

    list-style: none;
}

.main-nav-ls .main-nav-ls-title::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 230px;

    width: 16px;
    height: 16px;
    margin: auto;

    content: '';

    opacity: .3;
    background-image: url(../img/plus.svg);
}

.drop-down-ls {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;

    max-width: 520px;
    margin: 15px 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.drop-down-ls::before {
    position: absolute;
    z-index: -1;
    left: -60px;

    box-sizing: border-box;
    width: 1160px;
    min-height: 155px;

    content: '';

    background-color: #f7e296;
}

.drop-down-ls li {
    padding: 7px 0;
}

.drop-down-ls li:last-child {
    -ms-flex-preferred-size: 280px;
    flex-basis: 280px;
}

.drop-down-ls li:nth-child(5) {
    margin: 0 auto 0 80px;
}

.main-nav-ls > li {
    position: absolute;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.main-nav-ls:hover .drop-down-ls {
    z-index: 10;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    cursor: pointer;

    background-color: #f7e296;
}

.main-nav .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 500px;
    height: 0;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-info a:last-child {
    margin: 0 -4px 0 75px;
}

.top-slider {
    position: relative;
    top: -140px;

    box-sizing: border-box;
    margin: auto;
    min-height: 540px;
}

.descrip-slider p {
    font-weight: 300;
    line-height: 30px;

    min-width: 550px;

    color: #464646;
}

.slide-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 35px;
    padding: 0;
}

.slide-features span:first-child {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 36px;
    font-weight: 300;

    padding-bottom: 20px;

    color: #000;
}

.slide-features span:last-child {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;

    color: #464646;
}

.slide-features li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-right: 79px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.top-slider .global-btn {
    position: relative;

    width: 220px;
    margin: 35px 0;

    text-align: center;

    opacity: 1;
}

.top-slider .global-btn:active {
    opacity: .3;
}

.top-slider .global-btn::before {
    position: absolute;
    z-index: -1;
    top: 8px;
    left: 0;

    width: 100%;
    height: 5px;

    content: '';
    -webkit-transition: .2s;
            transition: .2s;

    background-color: #f0c52e;
}

.global-btn:hover::before {
    top: -8px;

    height: 40px;
}

.slide-number {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 179px;
    font-weight: 700;
    line-height: 179px;

    position: absolute;
    right: 0;

    color: #fff;
}

.slide-one,
.slide-two,
.slide-three {
    position: relative;
    z-index: 1;
    z-index: 5;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
}

.descrip-slider .total-title::before {
    position: absolute;
    top: 60px;

    width: 100px;
    height: 7px;

    content: '';

    background-color: #fff;
}

.slide-one img {
    margin-top: 29px;
    margin-right: 125px;
    margin-left: 90px;
}

.slide-one .total-title {
    margin-top: 105px;
    margin-bottom: 14px;
    margin-left: 3px;
}

.slide-one .slide-number {
    top: 13px;
    right: 49px;
}

.slide-two img {
    margin-top: 50px;
    margin-right: 134px;
    margin-left: 120px;
}

.slide-two .total-title {
    margin-top: 104px;
    margin-bottom: 15px;
}

.slide-two .slide-number {
    top: 15px;
    right: 50px;
}

.slide-three img {
    margin-top: 95px;
    margin-right: 43px;
    margin-left: 31px;
}

.slide-three .total-title {
    z-index: 5;

    margin-top: 106px;
    margin-bottom: -2px;
}

.slide-three .slide-number {
    z-index: -1;
    top: 15px;
    right: 50px;
}

.top-slider-switches label::before {
    position: absolute;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 10px;
    height: 10px;

    content: '';
    cursor: pointer;

    background: url(../img/slider-button-empty.svg) no-repeat;
    background-size: 100%;
}

.top-slider-switches {
    position: absolute;
    z-index: 10;
    top: 357px;
    right: 59px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    cursor: pointer;
}

.top-slider-switches li {
    padding-right: 34px;
}

#slide-switch-1:checked ~ .top-slider-switches label[for=slide-switch-1]::before,
#slide-switch-2:checked ~ .top-slider-switches label[for=slide-switch-2]::before,
#slide-switch-3:checked ~ .top-slider-switches label[for=slide-switch-3]::before {
    background: url(../img/slider-button.svg) no-repeat;
}

#slide-switch-1:checked ~ #slide-1,
#slide-switch-2:checked ~ #slide-2,
#slide-switch-3:checked ~ #slide-3 {
    display: flex;
}

.brands-logos {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 125px auto;
    margin-bottom: 100px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.brands-logos a {
    opacity: 1;
}

.brands-logos a:active {
    opacity: .3;
}

.brands-logos a:nth-child(1)::before {
    position: absolute;

    width: 260px;
    height: 100px;

    content: '';
    -webkit-transition: .2s;
            transition: .2s;

    background: url(../img/logo-1.png) no-repeat;
}

.brands-logos a:nth-child(2)::before {
    position: absolute;

    width: 260px;
    height: 100px;

    content: '';

    background: url(../img/logo-3.png) no-repeat;
}

.brands-logos a:nth-child(3)::before {
    position: absolute;

    width: 260px;
    height: 100px;

    content: '';

    background: url(../img/logo-4.png) no-repeat;
}

.brands-logos a:nth-child(4)::before {
    position: absolute;

    width: 260px;
    height: 100px;

    content: '';

    background: url(../img/logo-5.png) no-repeat;
}

.brands-logos a:nth-child(1):hover::before,
.brands-logos a:nth-child(2):hover::before,
.brands-logos a:nth-child(3):hover::before,
.brands-logos a:nth-child(4):hover::before {
    -webkit-transition: .5s;
            transition: .5s;

    opacity: .1;
}

.product-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: -56px;
    margin-bottom: 140px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product-category .product-type {
    -ms-flex-preferred-size: 160px;
    flex-basis: 160px;
}

.product-type .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 160px;
    height: 160px;

    -webkit-transition: .2s;
            transition: .2s;

    background-color: #f7e296;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-type .monopod img {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.product-category .product-type:hover {
    opacity: 1;
}

.product-category .img-box:hover {
    opacity: 1;
    background-color: #f0c52e;
}

.img-box img:active {
    opacity: .3;
}

.product-type h3 {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;

    margin-top: 29px;

    letter-spacing: .18px;
}

.slider-services-backroung {
    position: relative;
    top: 23px;

    background-color: #e5e5e5;
}

.slider-switches {
    margin: -20px 0 112px 0;
    padding: 0;

    list-style: none;
}

.slider-services {
    font-weight: 300;

    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.service-slide-one {
    position: relative;
    top: -65px;
    right: 332px;
}

.service-slide-two {
    position: absolute;
    top: -65px;
    right: 332px;
}

.service-slide-three {
    position: absolute;
    top: -65px;
    right: 332px;
}

.service-slide-one p,
.service-slide-two p,
.service-slide-three p {
    line-height: 30px;

    max-width: 426px;
    margin-top: -5px;

    letter-spacing: .15px;
}

.service-slide-one,
.service-slide-two,
.service-slide-three {
    display: none;
}

.service-slide-one::before {
    position: absolute;
    top: 48px;
    right: -266px;

    width: 136px;
    height: 164px;

    content: '';

    background: url(../img/delivery.svg) no-repeat;
}

.service-slide-two::before {
    position: absolute;
    top: 26px;
    right: -286px;

    width: 171px;
    height: 194px;

    content: '';

    background: url(../img/warranty.svg) no-repeat;
}

.service-slide-three::before {
    position: absolute;
    top: 26px;
    right: -262px;

    width: 156px;
    height: 184px;

    content: '';

    background: url(../img/credit.svg) no-repeat;
}

.slider-switches label {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;

    position: relative;
    z-index: 1;

    display: inline-block;

    width: 172px;

    cursor: pointer;
    text-align: center;
    letter-spacing: 3.6px;
    text-transform: uppercase;

    color: #000;
}

.slider-switches label {
    margin-top: 11px;
    margin-bottom: 28px;
}

.slider-switches label::before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 8px;
    margin: auto;

    content: '';

    background-color: #f0c52e;
}

.slider-switches label:hover::before {
    height: 40px;

    -webkit-transition: .2s;
            transition: .2s;
}

.slider-switches::before {
    position: absolute;
    top: -98px;
    left: 277px;

    width: 7px;
    height: 318px;

    content: '';

    background-color: #000;
}

#service-switch-1:checked ~ .slider-switches label[for=service-switch-1]::before,
#service-switch-2:checked ~ .slider-switches label[for=service-switch-2]::before,
#service-switch-3:checked ~ .slider-switches label[for=service-switch-3]::before {
    position: absolute;
    z-index: -199;

    width: 280px;
    height: 40px;

    transition: none;

    background-color: #000;
}

#service-switch-1:checked ~ .slider-switches label[for=service-switch-1],
#service-switch-2:checked ~ .slider-switches label[for=service-switch-2],
#service-switch-3:checked ~ .slider-switches label[for=service-switch-3] {
    color: #f7e184;
}

#service-switch-1:checked ~ #delivery,
#service-switch-2:checked ~ #warranty,
#service-switch-3:checked ~ #credit {
    display: block;
}

.contact-inform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 560px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact-inform .about-us,
.contacts-map {
    font-weight: 300;

    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    max-width: 460px;
    margin-bottom: 87px;

    color: #464646;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about-us ul {
    margin: 40px 0 0 0;
    padding: 0;

    list-style: none;
}

.about-us li {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 700;

    position: relative;

    padding: 9px 0;
    padding-left: 25px;
}

.about-us li::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 6px;
    height: 6px;
    margin: auto;

    content: '';

    border: 2px solid #e5e5e5;
    border-radius: 50%;
    background-color: #fff;
}

.contacts-map p {
    margin-top: 0;
}

.contacts-map {
    margin-right: 101px;
}

.about-us h1::before,
.contacts-map h1::before {
    position: absolute;
    top: -15px;

    width: 80px;
    height: 7px;

    content: '';

    background-color: #000;
}

.about-us .global-btn,
.contacts-map .global-btn {
    font-size: 17px;

    width: 260px;
    margin-top: 60px;

    text-align: center;
}

.about-us .global-btn::before,
.contacts-map .global-btn::before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 8px;
    margin: auto;

    content: '';
    -webkit-transition: .2s;
            transition: .2s;

    background-color: #f0c52e;
}

.about-us .global-btn:hover::before,
.contacts-map .global-btn:hover::before {
    top: -2px;

    height: 40px;
}

.about-us .global-btn:hover,
.contacts-map .global-btn:hover {
    opacity: 1;
}

.about-us .global-btn:active,
.contacts-map .global-btn:active {
    opacity: .3;
}

.popup-form {
    position: fixed;
    z-index: 1000;
    top: 200px;
    right: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 960px;
    min-height: 553px;
    margin: auto;
    padding: 100px;

    background: #fff;
    box-shadow: -40px 0 40px -40px rgba(2,4,6,.75), 40px 0 40px -40px rgba(2,4,6,.75), 0 8px 20px 2px rgba(2,4,6,.2);

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.popup-form label {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;

    width: 300px;
    margin-bottom: 15px;

    color: #000;
}

.popup-form input[type=text] {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    width: 300px;
    margin-bottom: 40px;
    padding: 10px;

    color: #464646;
    border: none;
    border-radius: 0;
    background: #f2f2f2;
}

.popup-form textarea {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    width: 760px;
    min-height: 160px;
    padding: 10px;

    color: #464646;
    border: none;
    border-radius: 0;
    background: #f2f2f2;
}

.popup-form .inp-name {
    margin-right: 120px;
}

.popup-form .user-name-from {
    margin-right: 140px;
}

.popup-form .global-btn {
    position: relative;

    display: inline-block;

    width: 200px;
    margin-top: 45px;

    cursor: pointer;

    border: none;
    background: none;
}

.popup-form .global-btn::before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 8px;
    margin: auto;

    content: '';
    -webkit-transition: .2s;
            transition: .2s;

    background-color: #f0c52e;
}

.popup-form .global-btn:hover::before {
    height: 40px;
}

.popup-form .global-btn:active {
    opacity: .3;
}

.popap-close {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 55px;
    height: 55px;

    cursor: pointer;

    opacity: .5;
    border: none;
    background: none;
    background: url(../img/modal-close.svg) no-repeat;
}

.popap-close:hover {
    opacity: 1;
}

.popap-close:active {
    opacity: .3;
    outline: none;
}

.cataqlog-header {
    min-height: 185px;
}

.cataqlog-header .logo:hover,
.catalog-footer .footer-logo:hover {
    opacity: .7;
}

.cataqlog-header .logo:active,
.catalog-footer .footer-logo:active {
    opacity: .4;
}

.catalog-main {
    position: relative;
    z-index: 2;
}

.products-catalog {
    padding-left: 60px;
    box-sizing: border-box;
}

.products-catalog .breadcrumds {
    line-height: 36px;

    margin-bottom: 40px;
    margin-top: -19px;
    padding: 0;
}

.breadcrumds li {
    font-size: 14px;
    font-weight: 300;

    position: relative;

    display: inline-block;

    padding-right: 34px;

    letter-spacing: .14px;
}

.breadcrumds li:first-child::after {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;

    width: 4px;
    height: 7px;
    margin: auto;

    content: '';

    background: url(../img/nav-arrow.svg) no-repeat;
}

.breadcrumds li:nth-child(2)::after {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;

    width: 4px;
    height: 7px;
    margin: auto;

    content: '';

    background: url(../img/nav-arrow.svg) no-repeat;
}

.main-filter {
    position: relative;
    z-index: -1;

    background: linear-gradient(to right, #eee 31%, #fff 31%, #fff 100%, #fff 100%);
}

.filter-background {
    background: -webkit-gradient(linear, left top, right top, color-stop(34.8%, #dbdbdb), color-stop(35%, #ebebeb), color-stop(100%, #ebebeb), to(#ebebeb));
    background: linear-gradient(to right, #dbdbdb 30.8%, #ebebeb 30%, #ebebeb 100%, #ebebeb 100%);
    background-color: #ebebeb;
}

.main-filter .filter-title {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 60px;
    box-sizing: border-box;
}

.filter-title h3:first-child {
    margin: 0;
    padding: 18px 200.5px 18px 0px;
    background-color: #dbdbdb;
}

.filter-title h3:nth-child(2) {
    padding-left: 75px;
    padding-top: 3px;
}

.filter-title ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-right: auto;
    margin-left: 88px;
    padding: 0;

    list-style: none;
}

.filter-title li {
    padding-right: 30px;
}

.filter-title ul a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    opacity: .3;
}

.filter-title .prise-item-filter {
    opacity: 1;
}

.arrows .arrow-up {
    width: 11px;
    height: 10px;

    cursor: pointer;

    opacity: .2;
    border: none;
    background-color: #ebebeb;
    background-image: url(../img/icon-up-dir.svg);
    background-repeat: no-repeat;
}

.arrows .arrow-down {
    width: 11px;
    height: 10px;

    cursor: pointer;

    opacity: .2;
    border: none;
    background-color: #ebebeb;
    background-image: url(../img/icon-down-dir.svg);
    background-repeat: no-repeat;
    margin-left: 21px;
}

.arrows .arrow-up:hover,
.arrows .arrow-down:hover {
    opacity: .4;
}

.arrows .arrow-up:active,
.arrows .arrow-down:active {
    opacity: 1;
}

.main-filter .main-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: auto;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 60px;
}

 .main-filter .left-filter-bgr-background {
    background-color: #eeeeee;
    position: relative;
 }

.main-filter .left-filter {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 200px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    padding-right: 68px;
}

.left-filter fieldset {
    padding: 0;
    margin:0;
}

.left-filter legend {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;

    position: relative;

    padding-top: 69px;

    color: #000;
}

.range-title {
    position: relative;
}

.range-title::before {
    position: absolute;
    bottom: 140px;

    width: 201px;
    height: 2px;

    content: '';

    background-color: #000;
}

.range-title::after {
    position: absolute;
    bottom: 0;

    width: 201px;
    height: 2px;

    content: '';

    background-color: #000;
}

.range-filter {
    width: 200px;
    padding-bottom: 20px;
}

.range-controls {
    position: relative;

    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 0;
}

.range-controls .toggle-max {
    left: 120px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 14px;

    display: inline-block;

    width: 40%;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 14px;

    width: 30px;

    text-align: center;

    color: #283136;
    border: none;
    background: none;
}

.left-filter fieldset {
    margin-top: 20px;

    border: none;
}

.left-filter input[type='checkbox'],
input[type='radio'] {
    display: none;
}

.left-filter input[type='checkbox'] + label,
input[type='radio'] + label {
    font-size: 14px;
    font-weight: 300;

    line-height: 39px;

    cursor: pointer;

    color: #000;
}

.left-filter input[type='radio'] + label {
    line-height: 46px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-filter input[type='checkbox'] + label::before {
    left: 15px;

    display: inline-block;

    width: 27px;
    height: 23px;

    content: '';

    background: url(../img/checkbox-off.svg) no-repeat;
}

.left-filter input[type='checkbox']:checked + label:before {
    background: url(../img/checkbox-on.svg) no-repeat;
}

.left-filter .filter-colors {
    width: 90px;
    margin: -30px 0;
}

.filter-colors legend {
    padding-top: 39px;
    padding-bottom: 27px;
}

.left-filter input[type='radio'] + label::before {
    left: 15px;

    display: inline-block;

    width: 25px;
    height: 25px;

    content: '';

    background: url(../img/radio-off.svg) no-repeat;
}

.left-filter input[type='radio']:checked + label:before {
    background: url(../img/radio-on.svg) no-repeat;
}

.left-filter .filter-bluetooth:before {
    position: absolute;
    bottom: 142px;

    width: 201px;
    height: 2px;

    content: '';

    background-color: #000;
}

.left-filter .filter-bluetooth {
    position: relative;

    width: 70px;
}

.filter-bluetooth legend {
    padding-top: 49px;
    padding-bottom: 15px;
}

.left-filter .global-btn {
    width: 200px;
    margin-top: 30px;

    border: none;
    background: none;
    cursor: pointer;
    z-index: 10;
}

.left-filter .global-btn::before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 8px;
    margin: auto;

    content: '';
    -webkit-transition: .2s;
            transition: .2s;

    background-color: #f0c52e;
}

.left-filter .global-btn:hover::before {
    height: 40px;
}

.filter-bluetooth label {
    padding-right: 5px;
}

.products-ls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 760px;
    margin-top: 77px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.new::before {
    position: absolute;
    top: 20px;
    right: 20px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 60px;
    height: 60px;

    content: 'new';
    text-transform: uppercase;

    opacity: .1;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: rgba(205, 57, 68, 0);

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.products-item .item-img-box {
    position: relative;

    display: flex;
    flex-basis: 360px;
}

.products-item:nth-child(3),
.products-item:nth-child(4) {
    margin-top: 41px;
}

.item-img-box .global-btn,
.add-btn {
    position: absolute;

    display: inline-block;
    display: none;

    width: 200px;

    border: none;
    background: none;
}

.item-img-box .global-btn {
    z-index: 1;
    top: 50%;
    left: 90px;
}

.item-img-box .global-btn:before {
    position: absolute;
    z-index: -1;
    top: 8px;
    left: -3px;

    width: 100%;
    height: 8px;

    content: '';
    -webkit-transition: .2s;
            transition: .2s;

    background-color: #f0c52e;
}

.item-img-box .global-btn:hover::before {
    top: -9px;

    height: 40px;
    margin: auto;
}

.item-img-box .add-btn {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 300;

    z-index: 1;
    top: 60%;
    left: 24%;

    color: #000;
}

.item-img-box img {
    position: relative;
    z-index: -1;
}

.item-img-box:hover {
    background: rgba(238, 238, 238, .7);
}

.item-img-box:hover .global-btn,
.item-img-box:hover .add-btn {
    display: inline-block;

    cursor: pointer;
}

.item-img-box:hover .add-btn {
    opacity: .5;
}

.item-img-box .add-btn:hover {
    opacity: 1;
}

.item-img-box .global-btn:active,
.item-img-box .add-btn:active {
    opacity: .2;
}

.products-item .item-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.products-item .item-price {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;

    color: #464646;
}

.forward-backward-btn {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.forward-backward-btn .catalog-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 30px 0 77px 0;
    padding: 0;

    list-style: none;

    background: #ebebeb;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.catalog-nav li:first-child {
    position: relative;

    margin-right: auto;
    padding: 20px;
}


.catalog-nav li:last-child {
    position: relative;

    margin-left: auto;
    padding: 20px;
}

.catalog-nav li:first-child:hover,
.catalog-nav li:last-child:hover {
    cursor: pointer;

    background-color: #d9d9d9;
}

.catalog-nav li:nth-child(2) {
    padding-top: 20px;
}

.catalog-nav li:nth-child(3),
.catalog-nav li:nth-child(4) {
    padding-top: 20px;
}

.catalog-nav li:nth-child(3) {
    padding: 20px 30px;
}

.catalog-nav a {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 700;

    text-transform: uppercase;

    color: #000;
}

.catalog-nav .nav-color-link {
    color: #a4a4a4;
}

.footer {
    position: relative;

    padding: 75px 0;

    background-color: #464646;
}

.footer a {
    color: #fff;
}

.footer-user-block {
    font-weight: 300;

    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-user-block .footer-logo {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 48px;
    font-weight: 700;

    text-transform: uppercase;

    color: #ffc600;
}

.footer-user-block .footer-logo {
    margin-right: auto;
}

.footer-user-block .footer-logo:hover {
    opacity: 1;
}

.footer-user-block .enter::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;

    width: 13px;
    height: 12px;
    margin: auto;

    content: '';

    background: url(../img/user-f.svg) no-repeat;
}

.footer-user-block .compare::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 45px;

    width: 13px;
    height: 12px;
    margin: auto;

    content: '';

    background: url(../img/compare-f.svg) no-repeat;
}

.footer-user-block .cart::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;

    width: 13px;
    height: 12px;
    margin: auto;

    content: '';

    background: url(../img/cart-f.svg) no-repeat;
}

.footer-user-block .enter,
.compare,
.cart {
    position: relative;

    padding-left: 65px;
}

.footer .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 40px 0;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-info address {
    font-weight: 300;
    font-style: normal;

    margin-right: 167px;

    color: #fff;
}

.footer-info address::after {
    position: absolute;
    bottom: 97px;
    left: 380px;

    width: 80px;
    height: 7px;

    content: '';

    background-color: #ffc600;
}

.footer-info .phone {
    font-weight: 300;

    margin-left: auto;
}

.footer-info a:nth-child(2) {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;

    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.footer-info a:nth-child(3) {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;

    padding: 0 30px;

    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.footer-info a:nth-child(4) {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;

    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 20px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer .social a:nth-child(2) {
    padding: 0 20px;
}

.footer .social a {
    opacity: .3;
}

.footer .social a:hover {
    opacity: .6;
}

.footer .social a:active {
    opacity: .1;
}

.footer .social a:first-child {
    margin-left: auto;
}

.footer .social a:last-child {
    margin-left: 485px;

    opacity: 1;
}

.footer .social a:last-child:hover {
    opacity: .6;
}

.footer .social a:last-child:active {
    opacity: .3;
}
